<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">  
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Irregular Verbs - Study</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,900' rel='stylesheet' type='text/css'>
  <link href="css/style.css" rel="stylesheet">

  <script src="../node_modules/angular/angular.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app = "verbs">
	<svg class="svg-src" xmlns="http://www.w3.org/2000/svg">
	  <symbol id="email" viewBox="0 0 16 16">
      <path d="M8 10c-.266 0-.5-.094-1-.336L0 6v7c0 .55.45 1 1 1h14c.55 0 1-.45 1-1V6L9 9.664c-.5.242-.734.336-1 .336zm7-8H1c-.55 0-1 .45-1 1v.758l8 4.205 8-4.205V3c0-.55-.45-1-1-1z" />
    </symbol>
	</svg>
	<nav class="main-nav">
		<ul class="main-nav__list">
			<li class="main-nav__item"><a href="index.html">Brush up on English Irregular Verbs</a></li>
		</ul>
	</nav>
	<div class="container">
		<section class="choose-verbs" ng-controller="verbsController">
			<div class="choose-verbs__section" ng-repeat="level in levels">
				<h3 class="toggle-fold">{{ level.name }}
           <button class="choose-verbs__all  button--small  button">Выбрать все</button>
           <button class="choose-verbs__clear-all  button--small  button  button--transparent">Очистить все</button>
		  	</h3>
		  	<div ng-repeat="content in level.contents" class="choose-verbs__row"> 
		  		<div class="choose-verbs__letter" >{{ content.letter }}</div>
		  		<fieldset ng-repeat = "word in content.words">
		  		  <input type="checkbox" name="{{ word }}" id="{{ word }}" ng-model="checkboxes[word]">
		  			<label for="{{ word }}"> {{ word }}<span class="translation">: {{ translation.word }}</span></label>
		  		</fieldset>
		  	</div>
		  	<div class="button-container  button-container--fixed" id="main-buttons" ng-if="$last">
					<button id="chooseVerbs" class="button">Study!</button>
					<button id="practiceVerbs" class="button  button--transparent" ng-click="getChecked()">Practice!</button>
				</div>
			</div>
		</section> 

		<section class="study hide  full-height-block">
		  <div class="full-height-block__counter"></div>
			<div class="full-height-block__content">
				<h2 class="full-height-block__verb">To be </h2>
				<ul class="full-height-block__forms">
				  <li class="full-height-block__list-item">be</li>
					<li class="full-height-block__list-item">was/were</li>
					<li class="full-height-block__list-item">been</li>
				</ul>
				<audio id="play" controls>
				 <source src="https://elt.oup.com/elt/students/genericwordlist/irregularverbs/audio/be.mp3" type='audio/mp3'>
				</audio>
			</div>
			<div class="full-height-block__btn-wrap btn-wrap" >
				<button class="button" id="next">Next &ggg;</button>
			</div>
		</section>
		<section class="results  full-height-block  hide">
		  <div class="results__home"><a href="index.html">Back to Homepage</a></div>
		  <ul class="results__wrapper" id="set-results">
		  </ul>		
		</section>
	</div>
	<footer class="main-footer">
		<div class="main-footer__copy"><a href="https://github.com/margareti/irregular-verbs">Margarita Ignatieva &copy;2016 </a></div>
		<ul class="main-footer__icons">
			<li class="main-footer__item  main-footer__item--fb"><a href="https://www.facebook.com/margarita.ignatieva" target="_blank">facebook</a></li>
			<li class="main-footer__item  main-footer__item--vk"><a href="http://vk.com/pythoniq" target="_blank">vk</a></li>
			<li class="main-footer__item  main-footer__item--gm"><a href="mailto:margaret.vegan@gmail.com" target="_blank">
				<svg width="16" height="16">
          <use xlink:href="#email" />
        </svg></a>
      </li>
		</ul>
	</footer>
<script src="helper.js"></script>
</body>
</html>